<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{film/fragments/head :: header('Filmo - Error')}"></head>

<body>

<nav th:replace="~{film/fragments/navbar :: navbar}"></nav>

<div class="container">
  <div class="row py-5 mb-3">
    <h1 class="border-bottom" th:text="#{error.webError}">An error has occurred</h1>
  </div>

  <div class="alert alert-danger" role="alert" th:if="${error != null}">
    <dl>
      <dt th:text="#{error.label.url}">Request URL:</dt>
      <dd th:text="${error.url}">url</dd>
      <dt th:text="#{error.label.exception}">Exception message:</dt>
      <dd th:text="${error.exception}">exception</dd>
    </dl>
  </div>
</div>

<footer th:replace="~{film/fragments/footer :: footer}"></footer>

<script th:replace="~{film/fragments/scripts}"></script>

</body>
</html>